korpokkur.xcodeproj/project.xcworkspace/contents.xcworkspacedata
korpokkur.xcodeproj/project.xcworkspace/xcuserdata/happy_ryo.xcuserdatad/UserInterfaceState.xcuserstate
korpokkur.xcodeproj/xcuserdata/happy_ryo.xcuserdatad/xcschemes/korpokkur.xcscheme
korpokkur.xcodeproj/xcuserdata/happy_ryo.xcuserdatad/xcschemes/xcschememanagement.plist
.idea/.name
.idea/encodings.xml
.idea/korpokkur.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
.idea/runConfigurations/Chameleon_Library.xml
.idea/runConfigurations/OS_X_Framework.xml
.idea/runConfigurations/OS_X_Library.xml
.idea/runConfigurations/iOS_Framework.xml
.idea/runConfigurations/iOS_Library.xml
.idea/runConfigurations/iOS_Tests.xml
korpokkur.xcodeproj/project.xcworkspace/*
korpokkur.xcodeproj/xcuserdata/
.idea
