korpokkur.xcodeproj/project.xcworkspace/contents.xcworkspacedata
korpokkur.xcodeproj/project.xcworkspace/xcuserdata/happy_ryo.xcuserdatad/UserInterfaceState.xcuserstate
korpokkur.xcodeproj/xcuserdata/happy_ryo.xcuserdatad/xcschemes/korpokkur.xcscheme
korpokkur.xcodeproj/xcuserdata/happy_ryo.xcuserdatad/xcschemes/xcschememanagement.plist
.idea/.name
.idea/encodings.xml
.idea/korpokkur.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
